body{
    background-color: #4a9f06;
    color: white;
    font-family: 'Poppins', sans-serif;
    
    font-size: 14px;
    padding: 0;
    
    
    
}
.mainContainer{
    
    
}

.logoMicro{
    width: 100px;
    height: 100px;
}
h1{
    color: #ecac1b;
    font-weight:normal;
    text-align: center;
    font-size: 24px;
    margin-top: 0px;
}
.subtitle{
    color: #ecac1b;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
}
.text{
    text-align: justify;
    padding: 8px;
    
    
}
.footerFlexContainer{
    display: flex;
    width: 100%;
}
.footerFlex{
    display: flex;
    align-items: center;
    
}
.link{
    width: 60px;
    cursor: pointer;
    justify-self: end;
}
.subtitle1{
    color: #cecece;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    margin-bottom: 3px;
}
.text1{
    color: #cecece;
    text-align: center;
    font-size: 12px;
    
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    
    .logoMicro{
        margin: 20px 0px 0px 60px;
    }
    h1{
        margin: 0px;
    }
    .text{
        width: 800px;
        margin: 0 auto;
        margin-bottom: 48px;
    }
    .subtitle{
        margin-bottom: 24px;
    }
    .footerFlexContainer{
        justify-content: space-around;
        margin-top: 48px;
    }
    .mainContainer{
        margin: 40px;
    }
}